.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar__link {
  font-size: larger;
  font-style: oblique;
  flex-basis: 20%;
  list-style-type: none;
  background-color: rgb(68, 212, 169);
  width: 10px;
  border: 2px solid rgb(48, 190, 147);
  padding: 5px;
  margin: 20px;
}
