.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.navbar__link {
  font-size: medium;
  font-style: oblique;
  background-color: rgb(68, 212, 169);
  width: 10px;
  border: 2px solid rgb(48, 190, 147);
  padding: 5px;
  margin: 20px;
}

.img {
  display: flex;
  align-self: flex-start;
  flex-basis: auto;
}

.flexbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex: 1 1 0;
}
